Arrba.Parser/Arrba.Provider/obj/
Arrba.Parser/Arrba.Parser/obj/
Arrba.Parser/Arrba.Parser.Dto/obj/
Arrba.Parser/Arrba.Parser.DbContext/obj/
Arrba.Parser/Arrba.Parser.DbContext/bin/
Arrba.Parser/.vs/
Arrba.Parser/Arrba.Provider/bin/
*.dll
*.pdb
Arrba.Parser/Arrba.Parser/bin/
Arrba.Parser/Arrba.Parser.Dto/bin/
Arrba.Parser/Arrba.Parser.Logger/obj/
Arrba.Parser/Arrba.Parser.Services/obj/
Arrba.Parser/Arrba.Parser.Services/bin/
Arrba.Parser/Arrba.Parser.Logger/bin/
Arrba.Parser/Arrba.Parser.Exceptions/obj/
Arrba.Parser/Arrba.Parser.Exceptions/bin/Debug/
Arrba.Parser/Arrba.Parser.Mapper/obj/
Arrba.Parser/Arrba.Parser.Api/bin/
Arrba.Parser/Arrba.Parser.Api/obj/
Arrba.Parser/Arrba.Parser.Managers/obj/
Arrba.Parser/Arrba.Parser.Mapper/bin/Debug/netcoreapp2.1/System.Text.Encoding.CodePages.xml
Arrba.Parser/Arrba.Parser.Mapper/bin/
Arrba.Parser/Arrba.Parser.Extension/obj/Debug/netcoreapp2.2/Arrba.Parser.Extension.csproj.FileListAbsolute.txt
Arrba.Parser/Arrba.Parser.Extension/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Arrba.Parser/Arrba.Parser.Extension/bin/
Arrba.Parser/Arrba.Parser.Extension/obj/
